.navigation {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	padding: 0.5rem;
	background-color: #bf0000;
	color: black;
}

.brand-name img {
	height: 3rem;
}

.navigation-menu {
	margin-left: auto;
}

.navigation-menu ul {
	display: flex;
	padding: 0;
	background: #bf0000;
}

.navigation-menu li {
	list-style-type: none;
	margin: 0 1rem;
}

.navigation-menu li a {
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

.hamburger {
	border: 0;
	height: 40px;
	width: 40px;
	background-color: #bf0000;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	display: none;
}

@media screen and (max-width: 768px) {
	.hamburger {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.navigation-menu ul {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.navigation-menu ul {
		position: absolute;
		top: 60px;
		left: 0;
		flex-direction: column;
		width: 100%;
		height: calc(100vh - 77px);
		background-color: bf0000;
	}

	.navigation-menu li {
		text-align: center;
		margin: 0;
	}

	.navigation-menu li a {
		color: black;
		width: 100%;
		padding: 1.5rem 0;
	}

	.navigation-menu li:hover {
		background-color: #eee;
	}
}

@media screen and (max-width: 768px) {
	.navigation-menu.expanded ul {
		display: block;
	}
}

/* *,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #bf0000;
	padding: 1rem;
}

.nav-brand {
	text-transform: uppercase;
	font-weight: bold;
}

.nav-brand img {
	width: 20rem;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 3rem;
	margin-bottom: 0;
}

.nav-toggler div {
	width: 2rem;
	height: 0.2rem;
	margin: 0.4rem;
	background: white;
	transition: 0.4 ease-in;
}

.nav-toggler {
	cursor: pointer;
	display: none;
} */

/* Search Functionality */
.search-bar {
	display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
	transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
	width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}

.search-bar {
	margin: auto;
	justify-content: center;
	max-width: 30em;
}

.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em white inset;
	padding: 0.75em;
	transform: translate(0.5em, 0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
	background: white;
	border-radius: 0.375em 0 0 0.375em;
	transform: scale(1);
}

.search-btn {
	background: white;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
	transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}

.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em white inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}

.search-btn:after {
	background: white;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em, 0) rotate(45deg);
	transform-origin: 0 50%;
}

.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: transparent;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}

.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}

.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}

.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

/* @media screen and (prefers-color-scheme: dark) {
	body,
	input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
} */

/* Mobile Version */
@media screen and (max-width: 768px) {
	.nav-toggler {
		display: block;
	}

	.nav-menu {
		position: fixed;
		top: 11vh;
		right: 0;
		width: 100%;
		background: #bf0000;
		flex-direction: column;
		transform: translateX(100%);
		transition: 0.5s ease-in;
	}

	.nav-item {
		padding: 2rem;
	}
}

.nav-active {
	transform: translateX(0);
}