.text-12 {
	font-size: 12px
}

.footer {
    background-color: #444444;
    padding: 3rem
}

.footer-logo-img {
	height: 5rem;
	width: auto;
}

.footer-line-two {
	background: #606060;
	height: 2px;
	width: 100%;
}

.social-media-icon {
    width: 3.5rem;
    height: 3.5rem;
}

/* Mobile */
@media screen and (max-width: 768px) {
}
